@charset "ISO-8859-1";

h2 {
    text-align: center;
    color: #3498db; /* Blue color */
}
div {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

form {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Set flex direction to column */
}

label {
    font-weight: bold;
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 8px;
    color: #333; /* Text color for labels */
}

/* Style for checkboxes and their content */
.checkbox-container {
    display: flex;
    align-items: center;
}
input[type="checkbox"] {
    transform: scale(1.5); /* Adjust the scale factor as needed */
}

input[type="checkbox"] {
    margin-right: 8px;
}

input[type="text"] {
    flex: 1; /* Take remaining space in the container */
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd; /* Border color for input fields */
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px; /* Adjust the padding to increase button size */
    font-size: 18px; /* Optional: Adjust font size if needed */
}

input[type="submit"]:hover {
    background-color: #006600;
}

/* Add some color to the form container */
form {
    background: linear-gradient(45deg, #4caf50, #2196f3); /* Gradient background */
    color: #fff; /* Text color */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Add some hover effect to the form container */
form:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
