<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/registration.css}">
</head>
<body>
<h1 class="h1">User Registration</h1>
<form action="register" method="post">
	<label>Username : </label>
	<input type="text" name="username" placeholder="Enter username"/>
	<br>
	<label>Email : </label>
	<input type="text" name="email" placeholder="Enter your emailID"/>
	<br>
	<label>Password : </label>
	<input type="text" name="password" placeholder="Enter your password"/>
	<br>
	<label>Gender : </label>
	Male<input type="radio" name="gender" value="male"/>
	Female<input type="radio" name="gender" value="female"/>
	Others<input type="radio" name="gender" value="other"/>
	<br>
	<br>
	<label>Role : </label>
	Admin<input type="radio" name="role" value="admin"/>
	Customer<input type="radio" name="role" value="customer"/>
	<br>
	<br>
	<label>Address</label>
	<textarea name="address" placeholder="Address"></textarea>
	<br>
	<input type="submit" value="REGISTER"/>
</form>
</body>
</html>